body {
    background-color: rgb(199, 199, 199);
    margin: 0;
    padding: 0;
}

* {
    font-family: -apple-system, BlinkMacSystemFont,
        "avenir next", avenir, helvetica, "helvetica neue",
        ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 3rem;
    color: rgb(74, 74, 74);
}

h2 {
    font-size: 2rem;
    color: rgb(74, 74, 74);
}

h3 {
    font-size: 1.6rem;
    padding-left: 6rem;
    color: rgb(74, 74, 74);
}

h4 {
    font-size: 1.3rem;
    ;
}

p,
li,
a {
    font-size: 1.3rem;
    color: rgb(74, 74, 74);
}

.code-display {
    display: flex;
    flex-direction: row;
}

.code-left>h4,
.code-right>h4 {
    text-align: center;
}

.code-display>div {
    width: 45%;
    margin: 0 20px
}

#body {
    width: 80%;
    margin: auto;
    padding: 25px;
    text-align: justify;
    background-color: white;
}

#map1>svg {
    width: fit-content;
}

.chart-div {
    width: 600px;
    height: 400px;
}