textarea {
    width: 100%
}      
#div_labels {
    margin : 1rem 0rem;
    height: 2rem;
}
body {
    font-size: 80%;
    width: 90vw
}
.line {
    stroke-width: 1px
}
.graph_container {
    padding : 0 2rem;
}
.table_svg_container {
    margin-top: 1rem;
    width : 100%;
    flex-direction: row;
}